main{
    padding: 80px 0;
}
.pageEmpresa article{
    width: auto;
    background-color:  #bab6b6;
    margin: 100px;
    border-radius: 15px;
    box-shadow: 7px 7px 9px -2px rgb(0 0 0 / 74%);
    padding: 15px;
    display: inline-block;
}
.pageEmpresa article p{
    text-align: left;
}
.pageEmpresa article li{
    width: auto;
    height: auto;
    background-color: #181818;
    color: white;
    margin-right: 50px;
    border-radius: 15px;
    box-shadow: 7px 7px 9px -2px rgb(0 0 0 / 74%);
    padding: 15px;
    display: inline-block;
}